<%- include('../partials/header') %>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <h3>Enter New Ticket Information:</h3>
    <label>Seat No:</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <br><br><label>Price (AUD):</label>
    <input type="text" name="price">
    <br><br><input type="submit" value="Confirm Ticket" href="/">
</form>

<%- include('../partials/footer') %>